.navbar {
    background:none;
    box-shadow: none;
  }
  .navbar-brand
  {
    font-family: 'Palatino';
    font-style: italic;
    color:grey;
    font-size: 30px;
    margin: 0px;
  }
  iframe, object, embed {
      max-width: 100%;
  }