<nav class="navbar navbar-expand-sm navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand text-muted" href="#">Demos</a>


    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/">home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tmdbmovies">tmdb movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/todolist">todo list</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">basics</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/html5test">HTML5 Tests</a>
                    <a class="dropdown-item" href="/html6test">HTML6 Tests</a>
                    <a class="dropdown-item" href="/shakatests">Google Shaka Support Tests</a>
                </div>
            </li>
        </ul>
    </div>
</nav>